<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.templateParameters.projectDescription %>"
      data-rh="true"
    />
    <link rel="icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png" />
    <title>
      <%= htmlWebpackPlugin.options.templateParameters.projectTitle %>
    </title>
  </head>
  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <div
      id="<%= htmlWebpackPlugin.options.templateParameters.projectName %>"
    ></div>
  </body>
</html>
